@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
 

.About {
    background-color: #f8f8f8;
}



img,.papas{
    width: 65%;
    height: 65%;
    margin-left: 10%;
    margin-top: 60px;
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);

  
}

h1{
    color:#6d83f2
    
}

.number{
    size: 12px;
}

h2 {
    overflow: hidden;
    position: relative;
    color: #6D83F2;
    font-size: 0.8cm;
    font-family: 'Roboto Mono', monospace;
  }
  h2::after {
    content: '';
    width: 10%;
    height:1%;
    background: #ccd6f6;
    position: absolute;
    top: 50%;
    margin-left: 1rem;
    font-size: 1cm;
  }

  span{
      color:rgb(109, 131, 242);
      font-size: 0.6cm;
  }

  .button{
      margin-left: 35px;
  }


.contact {
    color:#6D83F2;
    border:1px solid #6D83F2;
}

.contact:hover{
    color: white;
    background-color: #6D83F2;
}

