@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

.card {
    margin-left: -100px;
    
    
}

img{
    width: 100%;
    height: 100%;
}

.project {
    background-color: #f8f8f8;
}


.work::after {
    
    content: "";
    display: block;
    position: relative;
    top: -40px;
    width: 350px;
    height: 1px;
    margin-left: 700px;
    background-color:aliceblue;
}

h1 {
    margin: 0px 0px 10px;
    font-weight: 600;
    color:rgb(109, 131, 242);
    line-height: 1.1;
    
}

body{
    background-color: #f8f8f8;
}



.project{
    color:rgb(109, 131, 242);

    border: 1px solid rgb(109, 131, 242);
    margin-left: 10px;
    background-color: rgba(10, 25, 47, 0.85);
  
    
}

.button1{
    border:1px solid black;
}

.projects{
    background-color: #f8f8f8;
}

.bug {
    color: rgb(255, 255, 255);
    background-color: rgb(109, 131, 242);
    border: 1px solid rgba(10, 25, 47, 0.85);
    border-radius: 100%;
}

.bug:hover{
    border:2px double #112240;
}

.title {
    color: #112240;
}

.project1 {

    display: block;
    width: 80%;
    min-width: 100%;
    margin-left: -20%;
    margin-top: 60px;
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}


.project4 {
    
    width: 100%;
    margin-left:5%;
    margin-top: 60px;
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

img {
    width: 75%;
    height: 100%;
}

.demo {
    background-color: rgb(109, 131, 242);
    color: white;
    border:1px solid  rgb(109, 131, 242);
}

.demo1 {
    color: rgb(109, 131, 242);
    border: 1px solid rgb(109, 131, 242);
    margin-left: 5%;
    
}

.badge{
    background-color:#C7D0FF ;
    color: white;
}

span:hover{

    animation: pulse;
    animation-duration: 2s;
}

.p1{
    font-size:smaller;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Major Mono Display', monospace;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}



@media (max-width: 640px) { 

    .ml-20 {
        margin-left: 5rem;
        margin-top: 60px;
    }    

    .bug{
        margin-left: 38%;
    }

    .title {
        margin-left: 20%;
    }

    .b{
        margin-right: 3px;
        margin-left: 0px;
    }

    h1{
        visibility: hidden;
        display: none;
    }

    .demo{
        font-size: 14px;
        padding: 10px;
        width: fit-content;
        background-color: rgb(109, 131, 242);
        color: white;
        border:1px solid  rgb(109, 131, 242);
        
    }
    
    .demo1{
        font-size: 14px;
        padding: 10px;
        margin-top: 5%;
        color: rgb(109, 131, 242);
    border: 1px solid rgb(109, 131, 242);
    margin-left: 5%;
         }

  .project1{
      padding-bottom: 150%;
      margin-left: -3%;
  }

figure{
    margin: 0;
    padding-right: 2%;
    margin-left: -19%;

}

.buttons{
    padding-left: 30px;
}

}