@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');


@media (min-width: 768px)
{}.md\:pt-40 {
    padding-top: 1rem;
}

.home{
    background-color: #f8f8f8;
}



h1{
    margin: 0px 0px 10px;
    font-size: 30px;
    font-weight: 900;
    color:rgb(109, 131, 242);
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Major Mono Display', monospace;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}

a{
    color: #6A98F0;
    
}
.name2{
    color:#EEEEEE ;
    font-size: clamp(40px, 8vw, 80px);
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    line-height: 1.1;

}



.name::after{
    border-bottom:1px solid rgb(0, 0, 0);
    float:left;
    width:100%;
    padding-bottom:3px
}

.h1{
    color:#000000;
    font-family: 'Roboto Mono', monospace;
    left: auto


    



    ;
}

h5{
    color: #112240;
}




.work{
    color:#0a0a0a;
    width: 185px;
    border: 1px solid #000000;
    
}



#name{
    color:#000000 ;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Major Mono Display', monospace;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
    
}

.name1{
    color:#E4DBBC;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Major Mono Display', monospace;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}




  .name2{
      color: #000000;
  }


  .papa{

  
    animation:fadeInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }

  #software{
    display: inline-block;
    margin: 0 0.9rem;
    margin-left: 12px;
  
    animation:pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 4s; 

  }

