@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Playfair+Display:wght@600&family=Roboto+Condensed:wght@300&display=swap');

.Logo{
    width: 120px;
    height: 100px;
    margin-bottom: -68px;
    margin-top: -50%;
  
}

@media (min-width: 640px)
{.sm\:ml-6 {
    margin-left: auto;
    
}



.navbar{
    background-color: #0a0909;
}

}

.button{
    border: 1px solid #c1ab65;
}

.button:hover{
    background-color: #c1ab65;
}



.py-2 {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.nav {
    color: #c1ab65;
    font-family: 'Major Mono Display', monospace;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-style: normal;
    
    

}

.nav1 {
    color: #f5f5f5;
    font-family: 'Major Mono Display', monospace;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    

}