@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');


.Logo{
    width: 120px;
    height: 100px;
    margin-bottom: -68px;
    margin-top: -50%;

  
}

.Logo1{

    width: 180px;
    height: 100px;
    margin-bottom: -90px;
    margin-top: -50%;
    left: 35%;
 
}



.pr-8 {
    padding-right: 1.5rem;
}

@media (min-width: 640px)
{.sm\:ml-6 {
    margin-left: auto;
    
}

.mr-8 {
    margin-right: 0rem;
}



.navbar{
    background-color: #0a0909;
}

.pr-8 {
    padding-right: 2rem;
}

}

.resume{
    color:#c1ab65;
    width: 100%;
    border: 1px solid #c1ab65;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

.resume:hover{
    background-color: #c1ab65;
}

a{
    color: #c1ab65;
}


.py-2 {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.nav {
    color: #c1ab65;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    font-style: normal;
    
    

}

.nav1 {
    color: #F6F2E8;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    

}

.nav1:hover {
    color: #c1ab65;
}