@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

.Logo{
    width: 120px;
    height: 100px;
    margin-bottom: -68px;
    margin-top: -50%;

  
}

.Logo1{

    width: 180px;
    height: 100px;
    margin-bottom: -90px;
    margin-top: -50%;
    left: 40%;
    margin-left: 15%;
 
}



.pr-8 {
    padding-right: 1.5rem;
}

@media (min-width: 1240px) {
  .navbar {
    position: sticky;
    top: 0%;
    z-index: 50;
  
  }
}
  


@media (min-width: 640px)
{.sm\:ml-6 {
    margin-left: auto;
    
}





.mr-8 {
    margin-right: 0rem;
}



.navbar{
    background-color: #f8f8f8;
    z-index: 9999;
    transition: 0.1s all ease-out;

  

  
}

.pr-8 {
    padding-right: 2rem;
}

}

.resume{
    color:rgb(109, 131, 242);
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;

    margin-left: 10%;
    border: 1px solid rgb(109, 131, 242);;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    -webkit-appearance: none;
    text-align: center;

   

}

.resume:hover{
    background-color: #6d83f2;
}

a{
    color: rgb(109, 131, 242);
}


.py-2 {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.nav {
    color: rgb(109, 131, 242);;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    font-style: normal;
    display: inline-block;
    margin: 0 0.5rem;
 
}



.nav1 {
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    

}

.nav1:hover {
    color: #6d83f2;
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(145, 0, 0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #111213;
}

input:focus + .slider {
  box-shadow: 0 0 1px #060606;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.header {
  position: fixed;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .3s ease-in;
  overflow: hidden;
  background-color: rgba(0,0,0,.9);
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: auto;
  height: 100%;
  padding: 0 1rem;
}

.header .nav-menu a {
  color: #ffffff;
}

.header .navbar img {
  width: 250px;
  height: auto;
}

.header .nav-menu {
  display: flex;
}

.header .nav-item {
  padding: 1rem;
  font-weight: 500;
}

.header .nav-item a:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--secondary-color);
}

.hamburger {
  display: none;
}


@media screen and (max-width:940px) {
  .header {
      max-width: 100%;
      background-color: rgba(0,0,0,.9);
  }

  .header .navbar {
      max-width: 100%;
  }

  .hamburger {
      display: block;
  }

  .nav-menu {
      position: fixed;
      left: -100%;
      top: 90px;
      flex-direction: column;
      background-color: rgba(0,0,0,.9);
      width: 100%;
      height: 90vh;
      z-index: 999;
      text-align: center;
      transition: .3s;
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 1.5rem 0;
  }

  .header .navbar img {
      width: 150px;
  }
}

.Logo{
  margin-left: -20%;

}


.mobile{
  color: white;
  border:1px solid #ffffff;
  background-color: #6d83f2;
  margin-right: auto;


}



.mobile:hover {
  background-color: #6d83f2;
  color: #f8f8f8;
  
}





